In [8]:
import pandas as pd
import numpy as np
import datetime

In [2]:
data = pd.read_csv('dataset/all_data.csv')
data

D:\miniconda\envs\pytorch\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (1,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,company_id,port_id,polution_id,date,concentration,amount
0,17280000089583,64000000000600100000,w00000,1/1/2020 00:00:00,66.25,870.0
1,17280000089583,64000000000600100000,w00000,2/1/2020 00:00:00,73.18,1758.0
2,17280000089583,64000000000600100000,w00000,3/1/2020 00:00:00,79.95,1918.0
3,17280000089583,64000000000600100000,w00000,4/1/2020 00:00:00,69.91,1678.0
4,17280000089583,64000000000600100000,w00000,5/1/2020 00:00:00,NaN,74.0
...,...,...,...,...,...,...
1048571,89421,89421,NaN,NaN,NaN,NaN
1048572,89421,89421,NaN,NaN,NaN,NaN
1048573,89421,89421,NaN,NaN,NaN,NaN
1048574,89421,89421,NaN,NaN,NaN,NaN
1048575,89421,89421,NaN,NaN,NaN,NaN

In [11]:
# data = data.astype({'company_id':str, 'port_id':str, 'polution_id':str})
data['company_id'] = data['company_id'].astype('string')
data['port_id'] = data['port_id'].astype('string')
data['polution_id'] = data['polution_id'].astype('string')
data['date'] = pd.to_datetime(data['date'], format='%d/%m/%Y %H:%M:%S')

print(data['port_id'] == "64000000000600100000 ")
data.dtypes
data = data.fillna({'concentration': 0, 'amount': 0})

print(data.loc[0, 'port_id'])
data.dtypes

0           True
1           True
2           True
3           True
4           True
           ...
1048571    False
1048572    False
1048573    False
1048574    False
1048575    False
Name: port_id, Length: 1048576, dtype: boolean
64000000000600100000

company_id               string
port_id                  string
polution_id              string
date             datetime64[ns]
concentration           float64
amount                  float64
dtype: object

In [4]:
port_id = '64000000000600100000'
polution_id = 'w00000'
date_s = '1/1/2020'
data_e = '5/1/2020'
# data_port = data.loc[data['port_id' == port_id]]
# data_port = data[data['port_id'] == '64000000000600100000 ']
data_port = data[data['port_id'].str.contains('64000000000600100000')]
data_port

,company_id,port_id,polution_id,date,concentration,amount
0,17280000089583,64000000000600100000,w00000,2020-01-01,66.250,870.000
1,17280000089583,64000000000600100000,w00000,2020-01-02,73.180,1758.000
2,17280000089583,64000000000600100000,w00000,2020-01-03,79.950,1918.000
3,17280000089583,64000000000600100000,w00000,2020-01-04,69.910,1678.000
4,17280000089583,64000000000600100000,w00000,2020-01-05,0.000,74.000
...,...,...,...,...,...,...
4372,17280000089583,64000000000600100000,w21011,2021-11-25,0.032,0.116
4373,17280000089583,64000000000600100000,w21011,2021-11-26,0.030,0.048
4374,17280000089583,64000000000600100000,w21011,2021-11-27,0.035,0.000
4375,17280000089583,64000000000600100000,w21011,2021-11-28,0.028,0.025
4376,17280000089583,64000000000600100000,w21011,2021-11-29,0.032,0.117

In [15]:
data_time = data_port.loc[(data_port['date'] >= pd.to_datetime('1/1/2020', format='%d/%m/%Y')) &
                          (data_port['date'] <= pd.to_datetime('5/1/2020',format='%d/%m/%Y'))]
data_time

,company_id,port_id,polution_id,date,concentration,amount
0,17280000089583,64000000000600100000,w00000,2020-01-01,66.25,870.00
1,17280000089583,64000000000600100000,w00000,2020-01-02,73.18,1758.00
2,17280000089583,64000000000600100000,w00000,2020-01-03,79.95,1918.00
3,17280000089583,64000000000600100000,w00000,2020-01-04,69.91,1678.00
4,17280000089583,64000000000600100000,w00000,2020-01-05,0.00,74.00
675,17280000089583,64000000000600100000,w01001,2020-01-01,8.62,0.00
676,17280000089583,64000000000600100000,w01001,2020-01-02,8.59,0.00
677,17280000089583,64000000000600100000,w01001,2020-01-03,8.51,0.00
678,17280000089583,64000000000600100000,w01001,2020-01-04,8.86,0.00
679,17280000089583,64000000000600100000,w01001,2020-01-05,8.63,0.00
1677,17280000089583,64000000000600100000,w01018,2020-01-01,28.39,24.68
1678,17280000089583,64000000000600100000,w01018,2020-01-02,24.71,43.46
1679,17280000089583,64000000000600100000,w01018,2020-01-03,21.22,40.70
1680,17280000089583,64000000000600100000,w01018,2020-01-04,20.60,34.59
1681,17280000089583,64000000000600100000,w01018,2020-01-05,24.79,43.06
2353,17280000089583,64000000000600100000,w21001,2020-01-01,11.68,10.17
2354,17280000089583,64000000000600100000,w21001,2020-01-02,11.56,20.33
2355,17280000089583,64000000000600100000,w21001,2020-01-03,11.50,22.05
2356,17280000089583,64000000000600100000,w21001,2020-01-04,11.60,19.46
2357,17280000089583,64000000000600100000,w21001,2020-01-05,11.87,20.59
3027,17280000089583,64000000000600100000,w21003,2020-01-01,0.37,0.32
3028,17280000089583,64000000000600100000,w21003,2020-01-02,0.20,0.31
3029,17280000089583,64000000000600100000,w21003,2020-01-03,0.07,0.08
3030,17280000089583,64000000000600100000,w21003,2020-01-04,0.00,0.00
3031,17280000089583,64000000000600100000,w21003,2020-01-05,0.74,0.65
3702,17280000089583,64000000000600100000,w21011,2020-01-01,0.05,0.05
3703,17280000089583,64000000000600100000,w21011,2020-01-02,0.04,0.06
3704,17280000089583,64000000000600100000,w21011,2020-01-03,0.07,0.16
3705,17280000089583,64000000000600100000,w21011,2020-01-04,0.14,0.24
3706,17280000089583,64000000000600100000,w21011,2020-01-05,0.14,0.22

In [ ]:
data_polution_id = data_port[data_port['polution_id'] == 'w00000']
data_polution_id